.img-build {
    float: left;
    max-width: 45em;
    width: 50%;
    margin-top: 0;
    margin-left: 0;
    @media (max-width: 70em) {
        float: none;
        display: block;
        margin: 0 auto;
        min-width: 18em;
    }
}
#img-cys {
    list-style-position: inside;
}
.img-gagarin {
    width: 50%;
    display: block;
    margin-left: 0; 
    @media (max-width: 70em) {
        min-width: 18em;
    }
}
.img-gagarin.two {
    width: 40%;
}
h2 {
    @media (max-width: 41em) {text-align: center;}
    br {
        display: none;
        @media (max-width: 41em) {
            display: block;
        }
    }
    span.map {
        font-size: 0.9em;
        img {
            margin: 0;
            box-shadow: none;
            border-radius: 0;
            width: 1em;
            height: 1em;
        }
    }
}