#img-lesnoy-history {
    width: 40%;
    float: left;
    margin-left: 0;
    max-width: 40em;
    min-width: 20em;
    @media (max-width: 41em) {
        float: none;
        margin: 1em 0;
    }
}
.gerbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gerbs-item {
    max-width: 30em;
    text-align: center;
}
.gerb-img > img {
    width: 40%;
    max-width: 10em;
}
span.h3 {
    font-weight: bold;
    font-size: 1.5em;
}