#main {
    a#a-index-map {
        display: block;
        text-align: center;
        margin: .62em 0;

        #index-map {
            width: 30%;
            max-width: 20em;
        }
    }
    #shapka {
        width: 90%;
        max-width: 56em;
        margin: 0 auto;
        display: block;
    }
}