#map {
    width: 100%;
}
#main-map {
    margin: 0;
    @media (max-width: 88em) {
        width: auto !important;
    }
    @media (max-width: 74em) {
        width: auto !important;
    }
    @media (max-width: 70em) {
        width: auto !important;
    }
    @media (max-width: 56em) {
        width: auto !important;
    }
    @media (max-width: 50em) {
        width: auto !important;
    }
    @media (max-width: 41em) {
        width: auto !important;
    }
    img {
        display: block;
        box-shadow: none !important;
        border-radius: 0;
    }
}
#main-body, #map-head {
    overflow-x: visible;
}