$black: #2C3E50;
// $darkBlack: #212e3b;
$red: #E74C3C;
$white: #ECF0F1;
$blue: #3498DB;

@import "normalize";
@import "font-awesome/fontawesome.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";
@import "fonts";
@import "_main.scss";
@import "index";
@import "author";
@import "map";
@import "404";
@import "history";
@import "40s";
@import "schools";
@import "building";
@import "swup";