// Переменные
/* $black: #393E46;
$blue: #00ADB5;
$white: #FFF4E0;
$red: #FC3C3C; */
$black: #2C3E50;
$red: #E74C3C;
$white: #ECF0F1;
$blue: #3498DB;

@import "normalize";
@import "font-awesome/fontawesome.scss";
@import "font-awesome/solid.scss";
@import "font-awesome/brands.scss";
@import "fonts";
@import "index";
@import "author";
@import "map";
@import "404";
@import "history";

html, body {
    background-color: $white;
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: $black; 
    overflow-x: hidden;
}
a {
    color: $black;

    &.logo, &.logo-index, &.logo-one {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
h2 {
    font-size: 1.8em;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }
img {
    border-radius: .62em;
    margin: 1em 0;
    box-shadow: .31em .31em .8em 0px rgba(0,0,0,0.2);
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
    display: block;
}
#wrapper {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
}
header {
    background-color: $black;
    color: $white;
    font-family: "RussoOne";
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (max-width: 53em) {
        flex-direction: column;
    }
    .logo {
        font-size: 2.6em;
        text-align: center;
        flex: 1;
    }
    padding: .2em;
}
main {
    width: 90%;
    @media (max-width: 88em) {
        width: 75em;
    }
    @media (max-width: 74em) {
        width: 60em;
    }
    @media (max-width: 70em) {
        width: 54em;
    }
    @media (max-width: 56em) {
        width: 49em;
    }
    @media (max-width: 50em) {
        width: 40em;
    }
    @media (max-width: 41em) {
        width: 95%;
    }
    margin: 1em auto;
}
.br::before {
    content: " ";
    display: block;
    background-color: $black;
    height: .12em;
    width: 100%;
}
footer {
    padding: 1em 0;
    text-align: center;
}